{% extends 'base.html' %}

{% block content %}
{% include 'navbar_aktif.html' %}
<div class="flex items-center justify-center h-screen flex justify-center items-center">
  <div class="text-white rounded-xl w-3/4 m-2">
    <p
      class="flex justify-center text-4xl mt-7 mb-2 w-full text-white font-bold leading-tight text-center">Profile
      pengguna</p>
    <form class="w-full mt-10 w-1/2">
      <div class="mt-6 rounded-xl flex flex-col gap-y-2 justify-center items-center">
        <textarea id="comment" rows="1" class="shadow-lg rounded-lg px-3 py-2 w-1/4 px-0 text-normal text-gray-900 bg-white"
            placeholder="Username" required></textarea>
        <input type="password" id="password" class="shadow-lg rounded-lg px-3 py-2 w-1/4 px-0 text-normal text-gray-900 bg-white"
            placeholder="Password" required>
        <textarea id="comment" rows="1" class="shadow-lg rounded-lg px-3 py-2 w-1/4 px-0 text-normal text-gray-900 bg-white"
            placeholder="Negara Asal" required></textarea>
        <button type="submit" class="inline-flex items-center mt-4 py-2 px-6 text-base font-normal text-center text-white bg-[#b91c1c] font-bold rounded-md transition-all hover:bg-[#7f1d1d]">
            update profile
        </button>
    </div>    
    </form>
  </div>
</div>
{% endblock content %}