{% extends 'base.html' %}

{% block content %}
{% include 'navbar_guest.html' %}
<section>
  <div class="overflow-hidden">
    <img class="absolute inset-0 h-full w-full object-cover"
      src="https://assets.nflxext.com/ffe/siteui/vlv3/058eee37-6c24-403a-95bd-7d85d3260ae1/c9d61b69-0537-469e-9596-74e5f8d3f1c7/ID-en-20240422-POP_SIGNUP_TWO_WEEKS-perspective_WEB_705f4927-4856-4ccc-b8e7-ac91621eda12_small.jpg"
      alt="hero bg image">
    <div class="absolute inset-0 bg-gradient-to-r from-[#1e2026] to-[#000000] opacity-90"></div>
  </div>

  <div class="container mx-auto h-dvh flex justify-center items-center">
    <div class="relative text-white rounded-xl w-3/4 m-2">


      <div class="grid w-full h-[70vh] gap-y-2 place-content-center text-center">
        <h2 class="text-lg">Siap untuk menonton?</h2>
        <h3 class="text-lg">Masukkan data diri Anda untuk membuat akun</h3>

<div class="flex justify-center items-center">
    <div class="card" style="width: 24rem;">
        <div class="card-header text-center">
            <h1 style="font-weight: bold;">Register Form</h1>
          </div>
      <div class="card-body">
        {% if error_message %}
        <div class="alert alert-danger" role="alert">
          {{ error_message }}
        </div>
        {% endif %}
        <form method="POST" action="{% url 'handle_register' %}">
          {% csrf_token %}
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required style="color: black;">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required style="color: black;">
          </div>
          <div class="mb-3">
            <label for="negara" class="form-label">Country</label>
            <input type="text" class="form-control" id="negara" name="negara" required style="color: black;">
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary inline-flex items-center justify-center w-100 h-10 text-medium font-normal text-center text-white bg-red-600 font-bold rounded-md transition-all hover:bg-red-700">Register Now!</button>
          </div>          
        </form>
      </div>
    </div>
  </div>

        <div class="flex justify-center gap-x-4 mt-4">
          <a href="/">Back to Home</a>
        </div>


    </div>
  </div>
</section>
{% endblock content %}
