{% extends 'base.html' %}

{% block content %}
{% include 'navbar_aktif.html' %}
<div class="flex items-center justify-center pb-24">
    <div class="text-white rounded-xl w-3/4 m-2">
        <h1 class="text-5xl text-center mt-24 mb-5">Daftar Favorit</h1>
        
        {% for daftar_favorit in daftar_daftar_favorit %}

        <!-- New Smaller Title -->
        <h2 class="text-3xl text-center mt-12 mb-3"> Daftar Favorit {{ daftar_favorit.0 }} </h2>
        

        <div class="grid grid-cols-3 gap-y-0 mt-6">
            <p class="font-bold text-md p-2 text-center flex items-center justify-center border-y-2 border-white">Judul</p>
            <p class="font-bold text-md p-2 text-center flex items-center justify-center border-y-2 border-white">Waktu Ditambahkan</p>
            <p class="font-bold text-md p-2 text-center flex items-center justify-center border-y-2 border-white">Aksi</p>
        </div>

        <div class="grid grid-cols-3 gap-y-0">
            
            {% for tayangan in daftar_favorit.2 %}
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white">{{ tayangan.0 }}</p>
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white text-justify">{{ tayangan.1 }}</p>
            <div class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white">
                <button class="inline-flex items-center py-2.5 px-6 text-medium font-normal text-center text-white bg-red-500 font-bold rounded-full transition-all hover:bg-red-700">
                    Hapus
                </button>
            </div>
            {% endfor %}
            
            
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}