{% extends 'base.html' %}

{% block content %}
{% include 'navbar_aktif.html' %}

<style>
    #films-and-shows-button {
        font-weight: bold;
    }
</style>

<div class="flex items-center justify-center pb-24">
    <div class="text-white rounded-xl w-3/4 m-2">
        {% for row in daftar %}
        <p class="flex justify-center text-4xl mt-24 mb-3 w-full text-white font-bold leading-tight text-center">{{ row.title}}</p>
        {% if row.url_video_film != "unreleased" %}
        <div class="flex items-center w-full justify-center mb-5 flex-col">
            <label for="rating" class="font-semibold mr-2">Watch Progress :</label>
            <div class="w-full flex justify-center items-center">
                <input type="range" id="progress" name="progress" min="0.0" max="100.0" step="1" class="h-3 w-4/6 rounded-md" />
                <span id="progress-value" class="ml-2 text-white">5.0</span>
                <p>%</p>
            </div>
        </div>
        {% endif %}
        <div class="flex flex-wrap justify-center w-full">
            {% if row.url_video_film != "unreleased" %}
                <button class="px-4 py-2 mr-2 mt-2 bg-[#b91c1c] text-white font-bold rounded-full hover:bg-[#7f1d1d]" onclick="submitWatch('{{ row.id }}')">Watch</button>
            {% endif %}
                <button onclick="openUnduhModal()" class="px-4 py-2 mr-2 mt-2 bg-[#b91c1c] text-white font-bold rounded-full transition-all hover:bg-[#7f1d1d]">Download</button>
                <button onclick="openFavoritModal()" class="px-4 py-2 mt-2 bg-[#b91c1c] text-white font-bold rounded-full transition-all hover:bg-[#7f1d1d]">Add to Favorites</button>
            </div> 

            {% include "modal.html" %}
            <div class="flex md:flex-row flex-col justify-around mt-2">
                <div class="md:w-3/4 w-full md:mr-7">
                    <p class="mt-5 font-bold text-lg mb-1">Total View</p>
                    <p class="font-extralight">{{ row.total_view }}</p>
                    <p class="mt-5 font-bold text-lg mb-1">Average Rating</p>
                    <p class="font-extralight">{{ row.avg_rating }}</p>
                    <p class="mt-5 font-bold text-lg mb-1">Synopsis</p>
                    <p class="font-extralight text-justify">{{ row.sinopsis }}</p>
                    <p class="mt-5 font-bold text-lg mb-1">Duration</p>
                    <a class="font-extralight">{{ row.durasi_film}}</a>
                    <a class="font-extralight">mins</a>
                    <p class="mt-5 font-bold text-lg mb-1">Release Date</p>
                    <p class="font-extralight">{{ row.release_date_film }}</p>
                    <p class="mt-5 font-bold text-lg mb-1">Film URL</p>
                    {% if row.url_video_film != "unreleased" %}
                        <a class="font-extralight" href="https://www.youtube.com/watch?v={{ row.url_video_film }}" target="_blank">https://www.youtube.com/watch?v={{ row.url_video_film }}</a>
                    {% else %}    
                    <a class="font-extralight">Film is not released yet</a>
                    {% endif %}
                    <p class="mt-5 font-bold text-lg mb-1">Genres</p>
                    {% if genre_list %}
                        <ul class="font-extralight">
                            {% for genre in genre_list %}
                                <li>{{ genre }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <a class="font-extralight">-</a>
                    {% endif %}
                </div>
                <div class="md:w-1/4 w-full md:ml-7">
                    <p class="mt-5 font-bold text-lg mb-1">Country</p>
                    <p class="font-extralight">Amerika</p>
                    <p class="mt-5 font-bold text-lg mb-1">Cast</p>
                    {% if pemain_list %}
                        <ul class="font-extralight">
                            {% for pemain in pemain_list %}
                                <li>{{ pemain }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <a class="font-extralight">-</a>
                    {% endif %}
                    <p class="mt-5 font-bold text-lg mb-1">Script Writer</p>
                    {% if penulis_skenario_list %}
                        <ul class="font-extralight">
                            {% for penulis in penulis_skenario_list %}
                                <li>{{ penulis }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <a class="font-extralight">-</a>
                    {% endif %}
                    <p class="mt-5 font-bold text-lg mb-1">Director</p>
                    <p class="font-extralight">{{ row.sutradara}}</p>
                </div>
            </div>
        {% endfor %}
        {% include 'ulasan.html' with data=daftar2 id=id %}
    </div>
</div>

<script>
    const sliderFilm = document.getElementById("progress");
    const outputFilm = document.getElementById("progress-value");
    outputFilm.textContent = sliderFilm.value;

    sliderFilm.oninput = function() {
        outputFilm.textContent = this.value;
    }

    function submitWatch(id) {
        var url_target = '/watch/' + id + '/';
        const progress = document.getElementById('progress').value
        if (progress >= 70){
            fetch(url_target, {
                method: 'GET',
                headers: {
                        'Content-Type': 'application/json',
                    },
                }).then(response => {
                    if (response.ok) {
                        location.reload()
                    } else {
                        alert("View doesn't count");
                    }
                }).catch(error => {
                    alert('Failed to submit watch');
                });
        } else{
            alert("View doesn't count");
        }
    }

</script>

{% endblock content %}