{% extends 'base.html' %}

{% block content %}
<div class="flex items-center justify-center ">
    <div class="text-white rounded-xl w-3/4 m-2">
        <p class="flex justify-center text-4xl mt-7 mb-5 w-full text-white font-bold leading-tight text-center">Godzilla x Kong: The New Empire</p>

        <ul class="flex gap-2">
            <li class="border-2 border-[#b91c1c] text-white font-bold rounded-full transition-all hover:cursor-pointer hover:bg-[#b91c1c] mb-2 px-5 py-2">Episode 1</a></li>
            <li class="border-2 border-[#b91c1c] text-white font-bold rounded-full transition-all hover:cursor-pointer hover:bg-[#b91c1c] mb-2 px-5 py-2">Episode 2</a></li>
        </ul>

        <div class="flex justify-center w-full mt-2">
            <button class="px-4 py-2 mr-2 bg-[#b91c1c] text-white font-bold rounded-full transition-all hover:bg-[#7f1d1d]">Unduh Tayangan</button>
            <button class="px-4 py-2 bg-[#b91c1c] text-white font-bold rounded-full transition-all hover:bg-[#7f1d1d]">Favorit Tayangan</button>
        </div>  
        
        <div class="flex md:flex-row flex-col justify-around mt-2">
            <div class="md:w-3/4 w-full md:mr-7">
                <p class="mt-5 font-bold text-lg mb-1">Total View</p>
                <p class="font-extralight">500</p>
                <p class="mt-5 font-bold text-lg mb-1">Rating Rata-Rata</p>
                <p class="font-extralight">9.6</p>
                <p class="mt-5 font-bold text-lg mb-1">Sinopsis</p>
                <p class="font-extralight text-justify">Idaliela otemu rowazet, rava la pucahes nolucie utalise li cudey! Ilomi ipew semoh te leh lupag ice mere ledomi tu. Lelap ne rehur, eneregu ieme pamevu ufacec ket; nixien catata dutug ril aqa eda. Daba olati seriner areliy cutete yicepel etemeta, di sutisie mies lelani ce. Sumonin ieteter bumas keninit niwose. Te rolirih tiw danaren cetofus uyipe. Delafu soy exa adetib oginirel lirol oto elinig; cub la budon ida emo re.</p>
                <p class="mt-5 font-bold text-lg mb-1">Durasi Film</p>
                <a class="font-extralight">127</a>
                <a class="font-extralight">menit</a>
                <p class="mt-5 font-bold text-lg mb-1">Tanggal Rilis Film</p>
                <p class="font-extralight">11/10/2024</p>
                <p class="mt-5 font-bold text-lg mb-1">URL Film</p>
                <a class="font-extralight" href="https://youtube.com/watch?v=PYCc0-FSuG0">youtube.com/watch?v=PYCc0-FSuG0</a>
                <p class="mt-5 font-bold text-lg mb-1">Genre</p>
                <ul class="font-extralight">
                    <li>Horror</li>
                    <li>Comedy</li>
                </ul>
            </div>
            <div class="md:w-1/4 w-full md:ml-7">
                <p class="mt-5 font-bold text-lg mb-1">Asal Negara</p>
                <p class="font-extralight">Amerika</p>
                <p class="mt-5 font-bold text-lg mb-1">Pemain</p>
                <ul class="font-extralight">
                    <li>Alfonso Cuaron</li>
                    <li>Hirokazu Koreeda</li>
                </ul>
                <p class="mt-5 font-bold text-lg mb-1">Penulis Skenario</p>
                <ul class="font-extralight">
                    <li>Chloe Zhao</li>
                    <li>Abbas Kiarostami</li>
                </ul>
                <p class="mt-5 font-bold text-lg mb-1">Sutradara</p>
                <p class="font-extralight">Bela Tarr</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}