{% extends 'base.html' %}

{% block content %}
{% include 'navbar_aktif.html' %}
<style>
    h1 {
        margin-top: 120px;
        margin-bottom: 28px;
    }

    th, td {
        border: 1.5px solid rgba(255,255,255,0.1);
        padding: 16px;
    }

    table, h1, h4 {
        margin-left: 80px;
    }

    h4 {
        margin-bottom: 12px;
        margin-top: 0px;
    }

    table {
        align-items: center;
        margin-top: 0px;
        margin-right: 80px;
        width: calc(100% - 160px);
        padding: 0px;
        background-color: transparent;
        border-spacing: 0;
        border-collapse: separate;
        text-align: center;
    }

    table tr:first-child th:first-child {
    border-top-left-radius: 12px;
    }

    table tr:first-child th:last-child {
    border-top-right-radius: 12px;
    }

    table tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
    }

    table tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
    }

    th:first-child, td:first-child {
        width: 50%;
    }

    th:nth-child(2), td:nth-child(2) {
        width: 20%;
    }

    th:last-child, td:last-child {
        width: 30%;
    }

    .penulis-skenario {
        margin-top: 32px;
        margin-bottom: 80px;
    }

    .chips-container {
        text-align: center;
    }

    .button-chips {
        margin-right: 16px;
    }

    .button-chips:last-child {
        margin-right: 0px;
    }

    #penulis-chips {
        background-color: red;
        border: 1.5px solid #970007
    }
</style>

<h1>Daftar Kontributor</h1>

<div class="chips-container">
    <a href="/kontributor_pemain/" class="button-chips" id="pemain-chips">Pemain</a>
    <a href="/kontributor_sutradara/" class="button-chips" id="sutradara-chips">Sutradara</a>
    <a href="/kontributor/" class="button-chips" id="penulis-chips">Penulis Skenario</a>
</div>

<div class="penulis-skenario">
    <h4>Penulis Skenario</h4>
    <table>
        <tr>
            <th>Nama</th>
            <th>Jenis Kelamin</th>
            <th>Kewarganegaraan</th>
        </tr>
        <tr>
            <td>Kirill Serebrennikov</td>
            <td>M</td>
            <td>Rusia</td>
        </tr>
        <tr>
            <td>Kirill Serebrennikov</td>
            <td>M</td>
            <td>Rusia</td>
        </tr>
    </table>
</div>

{% endblock content %}