{% extends 'base.html' %}

{% block content %}
<div class="flex items-center justify-center pb-24">
    <div class="text-white rounded-xl w-3/4 m-2">
        <p class="flex justify-center text-4xl mt-24 mb-5 w-full text-white font-bold leading-tight text-center">Tayangan</p>

        <form>
            <div class="w-full mb-4 rounded-xl flex flex-row justify-between">
                <textarea id="comment" rows="1" class="shadow-lg rounded-lg px-3 py-2 mr-3 w-full px-0 text-normal text-gray-900 bg-white" placeholder="Search    " required ></textarea>
                <button type="submit" class="inline-flex items-center py-2.5 px-6 text-medium font-normal text-center text-white bg-[#b91c1c] font-bold rounded-full transition-all hover:bg-[#7f1d1d]">
                    Cari
                </button>
            </div>
        </form>
        
        <div class="flex flex-col justify-around my-2">
            <p class="mt-5 mb-2 font-bold text-xl mb-1">10 Tayangan Terbaik Minggu ini</p>
            <div class="">
                <button class="border-2 border-[#b91c1c] text-white font-bold rounded-full transition-all hover:cursor-pointer hover:bg-[#b91c1c] mb-2 px-5 py-2 active:bg-[#b91c1c]">Top 10 Global</button>
                <button class="border-2 border-[#b91c1c] text-white font-bold rounded-full transition-all hover:cursor-pointer hover:bg-[#b91c1c] mb-2 px-5 py-2 active:bg-[#b91c1c]">Top 10 Negara</button>
            </div>
        </div>
        
        <div class="grid grid-cols-7 gap-y-0">
            <p class="font-bold text-md p-2 text-center flex items-center justify-center border-y-2 border-white">Peringkat</p>
            <p class="font-bold text-md p-2 text-center flex items-center justify-center border-y-2 border-white">Judul</p>
            <p class="font-bold text-md p-2 text-center flex items-center justify-center border-y-2 border-white">Sinopsis Trailer</p>
            <p class="font-bold text-md p-2 text-center flex items-center justify-center border-y-2 border-white">URL Trailer</p>
            <p class="font-bold text-md p-2 text-center flex items-center justify-center border-y-2 border-white">Tanggal Rilis Trailer</p>
            <p class="font-bold text-md p-2 text-center flex items-center justify-center border-y-2 border-white">Total View 7 Hari Terakhir</p>
            <p class="font-bold text-md p-2 text-center flex items-center justify-center border-y-2 border-white">Tayangan</p>
        </div>
        <div class="grid grid-cols-7 gap-y-0">
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white">1</p>
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white">Madame Web</p>
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white text-justify">Masa tiebipe gitera hirecut pir siraler nepepu. Gole cor nu ropop igomi sejanie nieneten tocilic. Ise kiro iece miselot imiconol cobe.</p>
            <a href="https://youtube.com/watch?v=PYCc0-FSuG0" class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white break-all">youtube.com/watch?v=PYCc0-FSuG0</a>
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white">13/10/2024</p>
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white">15</p>
            <div class="flex justify-center items-center border-y-2">
                <button class="border-2 px-4 py-2 flex items-center justify-center border-[#b91c1c] text-white font-bold rounded-md transition-all hover:cursor-pointer hover:bg-[#b91c1c] mb-2 px-2 py-2 active:bg-[#b91c1c]">Detail</button>
            </div>

            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white">1</p>
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white">Madame Web</p>
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white text-justify">Masa tiebipe gitera hirecut pir siraler nepepu. Gole cor nu ropop igomi sejanie nieneten tocilic. Ise kiro iece miselot imiconol cobe.</p>
            <a href="https://youtube.com/watch?v=PYCc0-FSuG0" class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white break-all">youtube.com/watch?v=PYCc0-FSuG0</a>
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white">13/10/2024</p>
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white">15</p>
            <div class="flex justify-center items-center border-y-2">
                <button class="border-2 px-4 py-2 flex items-center justify-center border-[#b91c1c] text-white font-bold rounded-md transition-all hover:cursor-pointer hover:bg-[#b91c1c] mb-2 px-2 py-2 active:bg-[#b91c1c]">Detail</button>
            </div>

            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white">1</p>
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white">Madame Web</p>
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white text-justify">Masa tiebipe gitera hirecut pir siraler nepepu. Gole cor nu ropop igomi sejanie nieneten tocilic. Ise kiro iece miselot imiconol cobe.</p>
            <a href="https://youtube.com/watch?v=PYCc0-FSuG0" class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white break-all">youtube.com/watch?v=PYCc0-FSuG0</a>
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white">13/10/2024</p>
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white">15</p>
            <div class="flex justify-center items-center border-y-2">
                <button class="border-2 px-4 py-2 flex items-center justify-center border-[#b91c1c] text-white font-bold rounded-md transition-all hover:cursor-pointer hover:bg-[#b91c1c] mb-2 px-2 py-2 active:bg-[#b91c1c]">Detail</button>
            </div>
        </div>

        <p class="mt-10 mb-2 font-bold text-2xl mb-1">Film</p>
        <div class="grid grid-cols-5 gap-y-0">
            <p class="font-bold text-md p-2 text-center flex items-center justify-center border-y-2 border-white">Judul</p>
            <p class="font-bold text-md p-2 text-center flex items-center justify-center border-y-2 border-white">Sinopsis Trailer</p>
            <p class="font-bold text-md p-2 text-center flex items-center justify-center border-y-2 border-white">URL Trailer</p>
            <p class="font-bold text-md p-2 text-center flex items-center justify-center border-y-2 border-white">Tanggal Rilis Trailer</p>
            <p class="font-bold text-md p-2 text-center flex items-center justify-center border-y-2 border-white">Tayangan</p>
        </div>
        <div class="grid grid-cols-5 gap-y-0">
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white">Madame Web</p>
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white text-justify">Masa tiebipe gitera hirecut pir siraler nepepu. Gole cor nu ropop igomi sejanie nieneten tocilic. Ise kiro iece miselot imiconol cobe.</p>
            <a href="https://youtube.com/watch?v=PYCc0-FSuG0" class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white break-all">youtube.com/watch?v=PYCc0-FSuG0</a>
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white">13/10/2024</p>
            <div class="flex justify-center items-center border-y-2">
                <button class="border-2 px-4 py-2 flex items-center justify-center border-[#b91c1c] text-white font-bold rounded-md transition-all hover:cursor-pointer hover:bg-[#b91c1c] mb-2 px-2 py-2 active:bg-[#b91c1c]">Detail</button>
            </div>

            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white">Madame Web</p>
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white text-justify">Masa tiebipe gitera hirecut pir siraler nepepu. Gole cor nu ropop igomi sejanie nieneten tocilic. Ise kiro iece miselot imiconol cobe.</p>
            <a href="https://youtube.com/watch?v=PYCc0-FSuG0" class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white break-all">youtube.com/watch?v=PYCc0-FSuG0</a>
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white">13/10/2024</p>
            <div class="flex justify-center items-center border-y-2">
                <button class="border-2 px-4 py-2 flex items-center justify-center border-[#b91c1c] text-white font-bold rounded-md transition-all hover:cursor-pointer hover:bg-[#b91c1c] mb-2 px-2 py-2 active:bg-[#b91c1c]">Detail</button>
            </div>

            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white">Madame Web</p>
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white text-justify">Masa tiebipe gitera hirecut pir siraler nepepu. Gole cor nu ropop igomi sejanie nieneten tocilic. Ise kiro iece miselot imiconol cobe.</p>
            <a href="https://youtube.com/watch?v=PYCc0-FSuG0" class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white break-all">youtube.com/watch?v=PYCc0-FSuG0</a>
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white">13/10/2024</p>
            <div class="flex justify-center items-center border-y-2">
                <button class="border-2 px-4 py-2 flex items-center justify-center border-[#b91c1c] text-white font-bold rounded-md transition-all hover:cursor-pointer hover:bg-[#b91c1c] mb-2 px-2 py-2 active:bg-[#b91c1c]">Detail</button>
            </div>
        </div>

        <p class="mt-10 mb-2 font-bold text-2xl mb-1">Series</p>
        <div class="grid grid-cols-5 gap-y-0">
            <p class="font-bold text-md p-2 text-center flex items-center justify-center border-y-2 border-white">Judul</p>
            <p class="font-bold text-md p-2 text-center flex items-center justify-center border-y-2 border-white">Sinopsis Trailer</p>
            <p class="font-bold text-md p-2 text-center flex items-center justify-center border-y-2 border-white">URL Trailer</p>
            <p class="font-bold text-md p-2 text-center flex items-center justify-center border-y-2 border-white">Tanggal Rilis Trailer</p>
            <p class="font-bold text-md p-2 text-center flex items-center justify-center border-y-2 border-white">Tayangan</p>
        </div>
        <div class="grid grid-cols-5 gap-y-0">
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white">Madame Web</p>
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white text-justify">Masa tiebipe gitera hirecut pir siraler nepepu. Gole cor nu ropop igomi sejanie nieneten tocilic. Ise kiro iece miselot imiconol cobe.</p>
            <a href="https://youtube.com/watch?v=PYCc0-FSuG0" class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white break-all">youtube.com/watch?v=PYCc0-FSuG0</a>
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white">13/10/2024</p>
            <div class="flex justify-center items-center border-y-2">
                <button class="border-2 px-4 py-2 flex items-center justify-center border-[#b91c1c] text-white font-bold rounded-md transition-all hover:cursor-pointer hover:bg-[#b91c1c] mb-2 px-2 py-2 active:bg-[#b91c1c]">Detail</button>
            </div>

            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white">Madame Web</p>
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white text-justify">Masa tiebipe gitera hirecut pir siraler nepepu. Gole cor nu ropop igomi sejanie nieneten tocilic. Ise kiro iece miselot imiconol cobe.</p>
            <a href="https://youtube.com/watch?v=PYCc0-FSuG0" class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white break-all">youtube.com/watch?v=PYCc0-FSuG0</a>
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white">13/10/2024</p>
            <div class="flex justify-center items-center border-y-2">
                <button class="border-2 px-4 py-2 flex items-center justify-center border-[#b91c1c] text-white font-bold rounded-md transition-all hover:cursor-pointer hover:bg-[#b91c1c] mb-2 px-2 py-2 active:bg-[#b91c1c]">Detail</button>
            </div>

            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white">Madame Web</p>
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white text-justify">Masa tiebipe gitera hirecut pir siraler nepepu. Gole cor nu ropop igomi sejanie nieneten tocilic. Ise kiro iece miselot imiconol cobe.</p>
            <a href="https://youtube.com/watch?v=PYCc0-FSuG0" class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white break-all">youtube.com/watch?v=PYCc0-FSuG0</a>
            <p class="font-normal text-sm p-2 text-center flex items-center justify-center border-y-2 border-white">13/10/2024</p>
            <div class="flex justify-center items-center border-y-2">
                <button class="border-2 px-4 py-2 flex items-center justify-center border-[#b91c1c] text-white font-bold rounded-md transition-all hover:cursor-pointer hover:bg-[#b91c1c] mb-2 px-2 py-2 active:bg-[#b91c1c]">Detail</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}