{% extends 'base.html' %}

{% block content %}

<style>
    h1 {
        margin-top: 120px;
        margin-left: 80px;
        margin-bottom: 28px;
    }

    h4, .dropdown {
        margin-left: 80px;
    }

    h4 {
        margin-top: 40px;
    }

    .flex-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 0px;
        margin-left: 80px;
        width: calc(100% - 160px);
    }

    .flex-container > div {
        flex: 1;
        margin-right: 8px;
    }

    .flex-container > div:last-child {
        margin-right: 0;
    }

    .container1, .container2, .container3 {
        padding: 28px;
        border: 1.5px solid rgba(255,255,255,0.1);
        border-radius: 8px;
        display: flex;
        align-items: flex-start;
    }

    .container1 label, .container2 label, .container3 label {
        display: block;
        padding-left: 16px;
    }

    .button-container {
        text-align: right;
        margin-right: 80px;
        margin-top: 28px;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: transparent;
        border: 1.5px solid #A6A6A6;
        border-radius: 4px;
        width: 217px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: #ffffff;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #434343;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-button {
        background-color: transparent;
        color: white;
        padding: 12px;
        font-size: 16px;
        border: 1.5px solid #A6A6A6;
        border-radius: 4px;
        cursor: pointer;
        width: 220px;
        font-family: 'Montserrat', sans-serif;
    }

    .dropdown-button:hover {
        background-color: #434343;
    }

    .dropdown:hover .dropdown-content, .dropdown:focus .dropdown-content {
        display: block;
    }

    .arrow-down {
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid white;
        position: relative;
        top: 13px;
        margin-left: 72px;
    }
</style>

<h1>Ubah Paket Langganan</h1>

<div class="flex-container">
    <div class="container1">
        <input type="radio" id="option1" name="option-paket" value="basic">
        <label for="option1">
            <b>Basic</b> <br><br>
            Rp 50.000 <br><br>
            HD <br><br>
            Smartphone, tablet
        </label><br>
    </div>
    <div class="container2">
        <input type="radio" id="option2" name="option-paket" value="standard">
        <label for="option2">
            <b>Standard</b> <br><br>
            Rp 100.000 <br><br>
            Full HD <br><br>
            Smartphone, tablet, laptop
        </label><br>
    </div>
    <div class="container3">
        <input type="radio" id="option3" name="option-paket" value="premium">
        <label for="option3">
            <b>Premium</b> <br><br>
            Rp 150.000 <br><br>
            Ultra HD <br><br>
            Smartphone, tablet, laptop, Smart TV
        </label><br>
    </div>
</div>

<div>
    <h4>Pilih Metode Pembayaran</h4>

    <div class="dropdown">
        <button class="dropdown-button">Pilih Metode <span class="arrow-down"></span></button>
        <div class="dropdown-content">
            <a href="#" class="dropdown-item" onclick="selectOption('Transfer bank')">Transfer bank</a>
            <a href="#" class="dropdown-item" onclick="selectOption('Kartu kredit')">Kartu kredit</a>
            <a href="#" class="dropdown-item" onclick="selectOption('E-Wallet')">E-Wallet</a>
        </div>
    </div>
</div>

<script>
    function selectOption(option) {
        document.querySelector('.dropdown-button').textContent = option;
    }
</script>

<div class="button-container">
    <a href="/langganan/" class="button-primary-blue">Ubah Paket</a>
</div>
{% endblock content %}